<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a id="brand" class="navbar-brand" href="/" ng-class="{active: isPathActive('/')}">KanBan</a>
        </div>
        <ul ng-if="isLoggedIn()" class="nav navbar-nav">
            <li id="board">
                <a href="#!/board" ng-class="{active: isPathActive('/board')}">Board</a>
            </li>
            <li id="devgrps">
                <a href="#!/devgrps" ng-class="{active: isPathActive('/devgrps')}">DevGroup Management</a>
            </li>
            <li id="projects">
                <a href="#!/projects" ng-class="{active: isPathActive('/projects')}">Project Management</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a popover-append-to-body="true" uib-popover-template="helpTemplate" popover-placement="bottom-right" popover-trigger="'outsideClick'" popover-title="Login Help">
                    <span class="glyphicon glyphicon-question-sign"></span>
                </a>
            </li>
            <li id="logout" ng-show="isLoggedIn()">
                <a href="#" ng-click="logoutUser()">
                    <span class="glyphicon glyphicon-log-out"></span>Logout
                </a>
            </li>
        </ul>
    </div>
</nav>