<!--<h1>Analytics</h1>

<p>Click on a project to view and edit the project. You can add a new project <button type="button" class="btn btn-default" ng-click="vm.createProject($event)">here</button>.</p>

<div class="button-wrapper row" ng-repeat="project in vm.projects">
    <span class="col-xs-3">
        <button type="button" class="btn btn-default btn-block" ng-click="vm.openProjectModal($event, $index)">{{project.name}}</button>
    </span>
    <span class="col-xs-9"/>-->
<div class="row">
    <div class="col-xs-4">
    <form name="formAnalytics"  role="form" ng-submit="vm.getCardTime()">
        <div class="modal-body row">
            <div class="modal-header">
                </br>
                <label for="project">Update graph</label>
                </br>
                <!--<h3 class="modal-title" id="modal-title">Create card</h3>-->
                <button type="button" class="btn btn-default" ng-click="vm.reset()">Reset</button>
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
            <!--<div class="modal-body row" id="modal-body">-->
            <div class="form-group col-xs-12" ng-class="{ 'has-error': form.project.$dirty && form.project.$error.required }">
                <label for="project">Projects</label>
                <!--<multiselect ng-required="true" required  ng-model="vm.options.projects" id="project" options="vm.projects" id-prop="id" display-prop="name">
                </multiselect>
                <span ng-show="form.project.$dirty" class="help-block">Project is required</span>
            -->
            <select ng-model="vm.options.project" id="project" class="form-control" ng-change="vm.getColumns()" required>  <!--ng-options="project.id as project.name for project in vm.projects"-->
                    <option ng-show="(vm.index==2)" ng-value="">---</option>
                    <option ng-value="project.id" ng-repeat="project in vm.projects">{{ project.name }}</option>
                </select>
                <span ng-show="form.project.$dirty && form.project.$error.required" class="help-block">Project is required</span>
            </div>
            <div class="form-group col-xs-12">    
            <div class = "row">
                <div class="form-group col-xs-6" ng-hide="(vm.index==2)" >
                    <label for="start column">Start column</label></br>
                    <select ng-model="vm.options.start_column" id="start_column" class="form-control">
                        <option ng-value="">---</option>
                        <option ng-value="column.id" ng-repeat="column in vm.columns">{{ column.name }}</option>
                    </select>
                </div>
                <div class="form-group col-xs-6" ng-hide="(vm.index==2)" >
                        <label for="end column">End column</label></br>
                        <select ng-model="vm.options.end_column" id="end_column" class="form-control">
                            <option ng-value="">---</option>
                            <option ng-value="column.id" ng-repeat="column in vm.columns">{{ column.name }}</option>
                        </select>
                </div>
            </div>
        </div>
            <div class="form-group col-xs-12">
                <div class = "row">
                    <div class="form-group col-xs-6">
                        <label for="creation date">Start creation date</label></br>
                        <p class="input-group">
                            <input ng-disabled="(vm.index==1 && !vm.blockDate1())" type="text" id="StartCreation" onkeydown="return false" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="vm.options.start_creation_date" is-open="vm.popup.open1" ng-change="vm.datesStartCreation()" datepicker-options="vm.startOptions" ng-required="false" close-text="Close" alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.popup.open1 = true">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                            </span>
                        </p>
                    </div>
                    <div class="form-group col-xs-6" >
                        <label for="creation date">End creation date</label></br>
                        <p class="input-group">
                            <input ng-disabled="(vm.index==1 && !vm.blockDate1())" type="text" id="EndCreation" onkeydown="return false" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="vm.options.end_creation_date" is-open="vm.popup.open2"  datepicker-options="vm.endOptions1" ng-required="false" close-text="Close" alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.popup.open2 = true">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group col-xs-12">
                <div class = "row">
                    <div class="form-group col-xs-6">
                        <label for="startFinished date">Card finished date start</label></br>
                        <p class="input-group">
                            <input ng-disabled="(vm.index==1 && !vm.blockDate2())" type="text" id="startFinished" onkeydown="return false" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="vm.options.start_finished_date" is-open="vm.popup.open3" ng-change="vm.datesStartFinished()" datepicker-options="vm.startOptions" ng-required="false" close-text="Close" alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.popup.open3 = true">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </p>
                    </div>
                    <div class="form-group col-xs-6" >
                        <label for="endFinished date">Card finished date end</label></br>
                        <p class="input-group">
                            <input ng-disabled="(vm.index==1 && !vm.blockDate2())" type="text" id="endFinished" onkeydown="return false" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="vm.options.end_finished_date" is-open="vm.popup.open4" datepicker-options="vm.endOptions2" ng-required="false" close-text="Close" alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.popup.open4 = true">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group col-xs-12">
                <div class = "row">
                    <div class="form-group col-xs-6">
                        <label for="startDevelopment date">Card development start</label></br>
                        <p class="input-group">
                            <input ng-disabled="(vm.index==1 && !vm.blockDate3())" type="text" id="startDevelopment" onkeydown="return false" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="vm.options.start_development_date" is-open="vm.popup.open5" ng-change="vm.datesStartDevelopment()" datepicker-options="vm.startOptions" ng-required="false" close-text="Close" alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.popup.open5 = true">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </p>
                    </div>
                    <div class="form-group col-xs-6" >
                        <label for="endDevelopment date">Card development end</label></br>
                        <p class="input-group">
                            <input ng-disabled="(vm.index==1 && !vm.blockDate3())" type="text" id="endDevelopment" onkeydown="return false" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="vm.options.end_development_date" is-open="vm.popup.open6" datepicker-options="vm.endOptions3" ng-required="false" close-text="Close" alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.popup.open6 = true">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group col-xs-12">
                <div class = "row">
                    <div class="form-group col-xs-6">
                        <label for="FromSize">From size</label>
                        <input  type="number" name="size" id="size" class="form-control" step="0.1" min="0" max="{{vm.max}}" ng-change="vm.setMin()" ng-model="vm.options.from_size"c/>
                    </div>
                    <div class="form-group col-xs-6">
                        <label for="ToSize">To size</label>
                        <input type="number" name="size" id="size" class="form-control" step="0.1" min="{{vm.min}}" max="100" ng-change="vm.setMax()" ng-model="vm.options.to_size"c/>
                    </div>
                </div>
            </div>
            <div class="form-group col-xs-12">
                <label for="type">Card type</label>
                <select ng-model="vm.options.type" id="type" class="form-control" required>
                    <option ng-value="-1">All</option>
                    <option ng-value="cardType.id" ng-repeat="cardType in vm.cardTypes">{{ cardType.name }}</option>
                </select>
            </div>
        </div>
    </form>
    </div>
    <div class="col-xs-8" >
        </br>
        </br>
        </br>
        <label for="project">Select graphs</label>
        </br>
        <uib-tabset  active="activeJustified" justified="true">
                <uib-tab  index="0" heading="LeadTime"  select="vm.setIndex(0)">
                    <div class="col-xs-12" fusioncharts
                    width="800"
                    height="500"
                    type="mscombi2d"
                    dataSource="{{vm.dataSource}}" >
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="ColumnTime"  select="vm.setIndex(1)">
                    </br>
                        <div class="col-xs-12" fusioncharts
                        width="800"
                        height="500"
                        type="mscombi2d"
                        dataSource="{{vm.dataSource2}}" >
                        </div>
                </uib-tab>
                <uib-tab index="2" heading="WIP Violations"  select="vm.setIndex(2)">
                    <h3 ng-hide="vm.wipFilter"><b>Press "Update" to display WIP violations.</b></h3>
                    <h3 ng-show="vm.wipNoResults"><b>There are no WIP violations that match your search.</b></h3>
                    <div ng-repeat="v in vm.listViolations">
                        <h3><b>{{v.card_name}} (ID: {{v.card_id}})</b></h3>
                        <h5><b>Violation date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{v.violation_date}}</b></h5>
                        <h5><b>Column: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{v.column_name}}</b></h5>
                        <h5><b>User:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{v.user}}</b></h5>
                        <h5><b>Reason for violation:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{v.reason}}</b></h5>
                    <hr>
                    </div>
                </uib-tab>
        </uib-tabset>
    </div>
</div>