body {
  background-color: #eee;
}

a {
  cursor: pointer;
}

textarea {
  resize: vertical;
}

.nav .active {
  color: #fff !important;
  background-color: transparent !important;
}

.main_container {
  padding-left: 0px;
  padding-right: 0px;
}

.popover {
  max-width: 500px;
  width: 500px;
}

.button-wrapper .btn {
  margin-bottom: 10px;
}

.board {
  label {
    margin-right: 10px;
  }

  select {
    min-width: 200px;
  }

  .board_top_menu {
    margin-bottom: 10px;

    .button_container {
      float: right;
    }
  }

  .columns {
    min-width: 1200px;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 0px 15px;
    white-space: nowrap;
  }

  .column {
    min-height: 500px;
    min-width: 200px;
    display: inline-block;
    /*margin-right: -4px;*/
    vertical-align: top;

    .column_header {
      height: 20px;
    }

    .column_header_big {
      height: 40px;
      margin: 10px 0px;
    }
  }

  .column.small, .subcolumn {
    max-width: 300px;
  }

  .column.big {
    max-width: 600px;
  }

  .subcolumn {
    min-height: 480px;
    min-width: 200px;
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
  }
}

.jumbotron {
  margin-bottom: 0px;
}

.credits {
  background-color: #eee;

  p {
    padding: 10px 0px;
  }

  hr {
    height: 1px;
    width: 1200px;
    background-color: #ccc;
    margin: 10px auto 0px auto;
  }
}

/* Table for lane */
.board-container {
  overflow: auto;
  width: 100%;

  table.board {
    border-collapse: separate;
    border-spacing: 4px;
    min-width: 100%;
    min-height: 400px;
    margin-left: -4px;

    thead {
      tr {
        th {
          border-radius: 3px;
          background-color: #f9f9f9;
          text-align: center;
          min-width: 200px;
          border: 1px solid #e6ebf4;
          padding: 2px;

          &.color-header {
            border: 2px solid;
            padding: 0px;
          }
        }
      }
    }

    tbody {
      tr {
        td {
          border-radius: 3px;
          background-color: #f9f9f9;
          vertical-align: top;
          border: 1px solid #e6ebf4;
        }
      }
    }

    .lane-header {
      height: 30px;
       td {
         vertical-align: middle;

         span {
           padding: 5px;
           line-height: 20px;
         }
       }
    }

    .lane-cell-header {
      height: 20px;
      line-height: 20px;
      text-align: right;
      font-size: 12px;
    }

    .lane-column-content {
      padding: 5px;

      ul {

        &.lane-card-container {
          list-style-type: none;
          padding: 0px;
          margin: 0px;
          min-height: 100px;
        }
      }
    }
  }
}

//.clickable {
//  cursor: pointer;
//}

.add-board-placeholder {
  min-height: 215px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2), inset 0 0 15px rgba(0, 0, 0, 0.19);
  border-radius: 2px;
  background: repeating-linear-gradient(
                  135deg,
                  #dfdfdf,
                  #dfdfdf 10px,
                  #e7e7e7 10px,
                  #e7e7e7 20px
  );
}

.board-preview {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2px;
  min-height: 215px;
  max-height: 215px;
  margin-bottom: 15px;

  .actions {
    .open-board {
      padding-right: 10px;
    }

    .edit {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .header {
    cursor: pointer;
    text-align: center;
    background-color: #64afa0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    font-weight: bold;
    padding: 5px;

    &:hover {
      text-decoration: underline;
    }

    .open-board {
      border-right: 1px solid #ccc;
    }
  }

  .simplebar-vertical-only {
    .simplebar-track.horizontal {
      display: none !important;
    }
  }

  .body {
    .project-preview {
      margin: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      background-color: #e0e9f1;
      border-radius: 2px;

      .clickable {
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      .project-header {
        .actions {
          margin-right: 5px;
        }

        text-align: center;
        background-color: #3f93af;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        font-weight: bold;
        padding: 5px;
      }
      .project-body {
        padding: 10px;
      }
    }
  }
}

.remove-project {
  .actions {
    margin: 0;
  }
}

.card {
  min-width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;

  .clickable {
    cursor: pointer;
  }

  .header {
    background-color: #4CAF50;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    font-weight: bold;
    padding: 5px;

    &:hover {
      text-decoration: underline;
    }
  }

  .row {
    margin-left: 0px;
    margin-right: 0px;

    .task {
      padding: 5px;
    }

    .col-xs-6, col-xs-12 {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}

.card_placeholder {
  background-color: #ccc;
  border: 1px solid #bbb;
  border-radius: 3px;
}