body {
  background-color: #eee;
}

a {
  cursor: pointer;
}

textarea {
  resize: vertical;
}

.nav .active {
  color: #fff !important;
  background-color: transparent !important;
}

.main_container {
  padding-left: 0px;
  padding-right: 0px;
}

.popover {
  max-width: 500px;
  width: 500px;
}

.button-wrapper .btn {
  margin-bottom: 10px;
}

.board {
  label {
    margin-right: 10px;
  }

  select {
    min-width: 200px;
  }

  .board_top_menu {
    margin-bottom: 10px;

    .button_container {
      float: right;
    }
  }

  .columns {
    min-width: 1200px;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 0px 15px;
    white-space: nowrap;
  }

  .column {
    min-height: 500px;
    min-width: 200px;
    display: inline-block;
    /*margin-right: -4px;*/
    vertical-align: top;

    .column_header {
      height: 20px;
    }

    .column_header_big {
      height: 40px;
      margin: 10px 0px;
    }
  }

  .column.small, .subcolumn {
    max-width: 300px;
  }

  .column.big {
    max-width: 600px;
  }

  .subcolumn {
    min-height: 480px;
    min-width: 200px;
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
  }
}

.jumbotron {
  margin-bottom: 0px;
}

.credits {
  background-color: #eee;

  p {
    padding: 10px 0px;
  }

  hr {
    height: 1px;
    width: 1200px;
    background-color: #ccc;
    margin: 10px auto 0px auto;
  }
}

/* Table for lane */
.lane-container {
  overflow: auto;
  width: 100%;
}

table.lane {
  border-collapse: separate;
  border-spacing: 4px;
  min-width: 100%;
  min-height: 600px;
  margin-left: -4px;

  thead {
    tr {
      th {
        border-radius: 3px;
        background-color: #f9f9f9;
        text-align: center;
        min-width: 200px;
        border: 1px solid #e6ebf4;
        padding: 2px;

        .color-header {
          border: 2px solid;
          padding: 0px;
        }
      }
    }
  }

  tbody {
    tr {
      td {
        border-radius: 3px;
        background-color: #f9f9f9;
        vertical-align: top;
        border: 1px solid #e6ebf4;
      }
    }
  }

  .lane-cell-header {
    height: 20px;
    line-height: 20px;
    text-align: right;
    font-size: 12px;
  }

  .lane-column-content {
    padding: 5px;
  }
}

.clickable {
  cursor: pointer;
}

.card {
  min-width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;

  .header {
    background-color: #4CAF50;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    font-weight: bold;
    padding: 5px;

    &:hover {
      text-decoration: underline;
    }
  }

  .body {
    padding: 5px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}

.task {
  padding: 5px;
}