body {
    background-color: #eee;
}

a {
    cursor: pointer;
}

textarea {
    resize: vertical;
}

.nav .active {
    color: #fff !important;
    background-color: transparent !important;
}

.main_container {
    padding-left: 0px;
    padding-right: 0px;
}

.popover {
    max-width: 500px;
    width: 500px;
}

.button-wrapper .btn {
    margin-bottom: 10px;
}

.board label {
    margin-right: 10px;
}

.board select {
    min-width: 200px;
}

.board .board_top_menu {
    margin-bottom: 10px;
}

.board .board_top_menu .button_container {
    float: right;
}

.board .columns {
    min-width: 1200px;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 0px 15px;
    white-space: nowrap;
}

.board .column {
    min-height: 500px;
    min-width: 200px;
    display: inline-block;
    /*margin-right: -4px;*/
    vertical-align: top;
}

.board .column.small, .board .subcolumn {
    max-width: 300px;
}
.board .column.big {
    max-width: 600px;
}

.board .column .column_header {
    height: 20px;
}

.board .column .column_header_big {
    height: 40px;
    margin: 10px 0px;
}

.board .subcolumn {
    min-height: 480px;
    min-width: 200px;
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
}

.jumbotron {
    margin-bottom: 0px;
}

.credits {
    background-color: #eee;
}

.credits p {
    padding: 10px 0px;
}

.credits hr {
    height: 1px;
    width: 1200px;
    background-color: #ccc;
    margin: 10px auto 0px auto;
}


/* Table for lane */
.lane-container {
    overflow: auto;
    width: 100%;
}

table.lane {
    border-collapse: separate;
    border-spacing: 4px;
    min-width: 100%;
    min-height: 600px;
}

table.lane thead tr th {
    border-radius: 3px;
    background-color: #f9f9f9;
    text-align: center;
    min-width: 200px;
    border: 1px solid #e6ebf4;
}

table.lane tbody tr td {
    border-radius: 3px;
    background-color: #f9f9f9;
    vertical-align: top;
    border: 1px solid #e6ebf4;
}

table.lane .lane-cell-header {
    height: 20px;
    line-height: 20px;
}