<form name="form" role="form" ng-submit="vm.createCard()">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Create card</h3>
    </div>
    <div class="modal-body row" id="modal-body">
        <div class="form-group col-xs-12" ng-class="{ 'has-error': form.name.$dirty && form.name.$error.required }">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control" ng-model="vm.cardData.name" required />
            <span ng-show="form.name.$dirty && form.name.$error.required" class="help-block">Card name is required</span>
        </div>
        <div class="form-group col-xs-12">
            <label for="description">Description</label>
            <textarea name="description" id="description" class="form-control" ng-model="vm.cardData.description" rows="5" cols="50"></textarea>
        </div>
        <div class="form-group col-xs-6" ng-class="{ 'has-error': form.type.$dirty && form.type.$error.required }">
            <label for="type">Card type</label>
            <select ng-model="vm.cardData.type" id="type" class="form-control" required>
                <option></option>
                <option value="{{ cardType.id }}" ng-repeat="cardType in vm.cardTypes">{{ cardType.name }}</option>
            </select>
            <span ng-show="form.type.$dirty && form.type.$error.required" class="help-block">Type error</span>
        </div>
        <div class="form-group col-xs-6" ng-class="{ 'has-error': form.assignee.$dirty }">
            <label for="assignee">Assignee</label>
            <select class="form-control" ng-model="vm.cardData.assignee" id="assignee" required>
                <option></option>
                <option value="{{ user.id }}" ng-repeat="user in vm.users">{{ user.first_name }} {{ user.last_name }}</option>
            </select>
            <span ng-show="form.assignee.$dirty" class="help-block">Type error</span>
        </div>
        <div class="form-group col-xs-6" ng-class="{ 'has-error': form.priority.$dirty && form.priority.$error.required }">
            <label for="priority">Priority</label>
            <select class="form-control" ng-model="vm.cardData.priority" id="priority" required>
                <option></option>
                <option value="{{ priority.number }}" ng-repeat="priority in vm.priorities">{{ priority.name }}</option>
            </select>
            <span ng-show="form.priority.$dirty && form.priority.$error.required" class="help-block">Priority is required</span>
        </div>
        <div class="form-group col-xs-6" ng-class="{ 'has-error': form.deadline.$dirty && form.deadline.$error.required }">
            <label for="deadline">Deadline</label></br>
            <p class="input-group">
                <input ng-click="vm.openDeadlineDatePicker()" type="text" id="deadline" onkeydown="return false" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="vm.cardData.deadline" is-open="vm.deadlineOpened" datepicker-options="vm.deadlineOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.openDeadlineDatePicker()">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </p>
            <span ng-show="form.deadline.$dirty && form.deadline.$error.required" class="help-block">Deadline is required</span>
        </div>
        <div class="form-group col-xs-6" ng-class="{ 'has-error': form.size.$dirty && form.size.$error.required }">
            <label for="size">Size</label>
            <input type="number" name="size" id="size" class="form-control" step="0.1" min="0" max="100" ng-model="vm.cardData.size" required />
            <span ng-show="form.size.$dirty && form.size.$error.required" class="help-block">Size is required</span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.close()">Close</button>
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>