﻿<div class="board">
    <div class="row">
        <div class="board_top_menu col-xs-12">
            <div class="row">
                <div class="col-xs-4">
                    <div class="form-inline">
                        <div class="form-group">
                            <label for="board">Board: </label>
                            <select id="board" class="form-control" ng-model="vm.selectedBoard" ng-change="vm.onBoardChange()"
                                    ng-options="board.id as board.name for board in vm.boards">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-8">
                    <div class="button_container">
                        <button type="button" class="btn btn-default" ng-click="vm.openCreateCardModal()">Create card</button>
                        <button type="button" class="btn btn-default">Edit board</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="board-container">
        <table class="board">
            <thead>
                <tr>
                    <th class="color-header" colspan="{{ parentColumn.colSpan }}" style="border-color: blue;" ng-repeat="parentColumn in vm.parentColumns"></th>
                </tr>
                <tr>
                    <th rowspan="{{ parentColumn.rowSpan }}" colspan="{{ parentColumn.colSpan }}" ng-repeat="parentColumn in vm.parentColumns">
                        {{ parentColumn.name }} [{{ vm.getNumberOfCardsInColumn(parentColumn) }} / {{ parentColumn.card_limit }}]
                    </th>
                </tr>
                <tr>
                    <th rowspan="1" colspan="1" ng-repeat="childColumn in vm.childColumns">
                        {{ childColumn.name }} [{{ vm.getNumberOfCardsInColumn(childColumn) }} / 0]
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="lane-header" ng-repeat-start="lane in vm.lanes">
                    <td colspan="{{ vm.numberOfColumns }}">
                        <span>
                            <strong>{{ lane.project.name }}</strong> [{{ lane.project.start_date | amDateFormat:'DD.MM.YYYY' }} - {{ lane.project.estimated_end_date | amDateFormat:'DD.MM.YYYY' }}]
                        </span>
                    </td>
                </tr>
                <!-- TODO SILVER BULLET HERE -->
                <tr ng-repeat-end>
                    <td class="lane-column-content" ng-repeat="columnCards in lane.cardsForColumns">
                        <div class="lane-cell-header">{{ columnCards.cards.length }}<span class="slash-separator">/</span>{{ columnCards.maxNumberOfCardsInColumn }}</div>
                        <ul class="lane-card-container" dnd-list="columnCards.cards" dnd-allowed-types="vm.columnTypes[columnCards.column.id].allowedTypes" dnd-drop="vm.checkIfCardCanBeMoved(index, item, columnCards.column)">
                            <li ng-repeat="card in columnCards.cards" dnd-draggable="card" dnd-type="vm.columnTypes[columnCards.column.id].type" dnd-moved="columnCards.cards.splice($index, 1)" dnd-dragstart="vm.cardDraggingStarted(card)">
                                <card card="card">{{ card.name }}</card>
                            </li>
                            <li class="dndPlaceholder card_placeholder" style="height: {{ vm.cardPlaceholderHeight }}px;">
                                Drop card here!
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--
    <div class="columns">
        <div ng-class="vm.getColumnClass(column)" ng-repeat="column in vm.columns" style="background-color: {{vm.getColor(column)}}">
            <div ng-class="vm.getColumnHeaderClass(column)">
                <div class="text-center">{{ column.name }}</div>
            </div>
            <div ng-if="column.subcolumns" class="subcolumn small" ng-repeat="subcolumn in column.subcolumns" style="background-color: {{vm.getColor(subcolumn)}}">
                <div class="column_header">
                    <div class="text-center">{{ subcolumn.name }}</div>
                </div>
            </div>
        </div>
    </div>
    -->
    <!--
    <div class="columns">
        <div class="column small" style="background-color: red; width: 20%;">
            <div class="column_header_big">
                <div class="text-center">Test</div>
            </div>
        </div>
        <div class="column small" style="background-color: blue; width: 20%;">
            <div class="column_header_big">
                <div class="text-center">Test</div>
            </div>
        </div>
        <div class="column small" style="background-color: red; width: 20%;">
            <div class="column_header_big">
                <div class="text-center">Test</div>
            </div>
        </div>
        <div class="column small" style="background-color: blue; width: 20%;">
            <div class="column_header_big">
                <div class="text-center">Test</div>
            </div>
        </div>
        <div class="column big" style="background-color: red; width: 40%;">
            <div class="column_header">
                <div class="text-center">Test</div>
            </div>
            <div class="subcolumn small" style="background-color: green; width: 50%;">
                <div class="column_header">
                    <div class="text-center">Test</div>
                </div>
            </div>
            <div class="subcolumn small" style="background-color: pink; width: 50%;">
                <div class="column_header">
                    <div class="text-center">Test</div>
                </div>
            </div>
        </div>
        <div class="column small" style="background-color: blue; width: 20%;">
            <div class="column_header_big">
                <div class="text-center">Test</div>
            </div>
        </div>
    </div>

    -->
</div>

<div ng-repeat="card in vm.cards">
    <button ng-click="vm.editCard(card)">{{ card.name }}</button>
</div>
