<form name="form" ng-submit="vm.editProject()" role="form">
    <div class="modal-header">
        <h3 class="modal-title">Edit project</h3>
    </div>
    <div class="modal-body">
        <div class="form-group" ng-class="{ 'has-error': form.pBoard.$dirty  && form.pBoard.$error.required }">
            <label for="devGroup">Board</label>
            <select ng-disabled="!vm.canEdit" required class="form-control" ng-model="vm.pBoard.id" id="pBoard">

                <option ng-repeat="board in vm.suitableBoards" ng-selected="board.id === vm.pBoard.id" ng-value="board.id">{{ board.name }}</option>
            </select>
            <span ng-show="form.pBoard.$dirty && form.pBoard.$error.required " class="help-block">Project is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.name.$dirty && form.name.$error.required }">
            <label for="name">Project name</label>
            <input ng-disabled="!vm.canEdit" type="text" name="name" id="name" class="form-control" ng-model="vm.name" required />
            <span ng-show="form.name.$dirty && form.name.$error.required" class="help-block">Project name is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.code.$dirty && form.code.$error.required }">
            <label for="code">Project code</label>
            <input ng-disabled="!vm.canEdit" type="text" name="code" id="code" class="form-control" ng-model="vm.code" required />
            <span ng-show="form.code.$dirty && form.code.$error.required" class="help-block">Group code is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.customer.$dirty && form.customer.$error.required }">
            <label for="customer">Customer</label>
            <input ng-disabled="!vm.canEdit" type="text" name="customer" id="customer" class="form-control" ng-model="vm.customer" required />
            <span ng-show="form.customer.$dirty && form.customer.$error.required" class="help-block">Customer is required</span>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <div class="form-group" ng-class="{ 'has-error': form.startDate.$dirty && form.startDate.$error.required }">
                    <label for="startDate">Start date</label></br>
                    <p class="input-group">
                        <input ng-disabled="vm.hasCards || !vm.canEdit" ng-click="vm.openStartDateDatePicker()" ng-change="vm.startDateChanged()" type="text" id="startDate" onkeydown="return false" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="vm.startDate" is-open="vm.startDateOpened" datepicker-options="vm.startDateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openStartDateDatePicker()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                    </p>
                    <span ng-show="form.startDate.$dirty && form.startDate.$error.required" class="help-block">Start date is required</span>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group" ng-class="{ 'has-error': form.deadline.$dirty && form.deadline.$error.required }">
                    <label for="deadline">Deadline</label></br>
                    <p class="input-group">
                        <input ng-disabled="!vm.canEdit" ng-click="vm.openDeadlineDatePicker()" ng-change="vm.deadlineChanged()" type="text" id="deadline" onkeydown="return false" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="vm.deadline" is-open="vm.deadlineOpened" datepicker-options="vm.deadlineOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openDeadlineDatePicker()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                    <span ng-show="form.deadline.$dirty && form.deadline.$error.required" class="help-block">Deadline is required</span>
                </div>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': form.devGroup.$dirty  && form.devGroup.$error.required }">
            <label for="devGroup">Developer Group</label>
            <select ng-disabled="!vm.canEdit" required class="form-control" ng-model="vm.devGroup.id" id="devGroup">
                <option>----</option>
                <option ng-repeat="group in vm.devGroups" ng-selected="group.id === vm.devGroup.id" ng-value="group.id">{{ group.name }}</option>
            </select>
            <span ng-show="form.devGroup.$dirty && form.devGroup.$error.required " class="help-block">Developer group is required</span>
        </div>
    </div>
    <div class="modal-footer" ng-show="vm.canEdit">
        <button type="submit" ng-disabled="vm.dataLoading" class="btn btn-primary">Submit changes</button>
        <button type="button" ng-click="vm.deleteProject()" ng-disabled="vm.dataLoading" class="btn btn-primary">Remove project</button>
    </div>
</form>