<div class="card card-id-{{ card.id }}">
    <div class="header clickable" ng-click="canEdit && editCard(card)">
        <span>{{ card.name }}</span>
    </div>

    <div class="row">
        <div class="col-xs-6">
            Priority: {{ card.priority | toPriorityText }}
        </div>
        <div class="col-xs-6">
            Assignee: {{ card.assignee.first_name }}
        </div>

        <div class="col-xs-12 task" ng-repeat="task in card.tasks">
            {{ task.name }}
        </div>
    </div>
</div>