<div class="card card-id-{{ card.id }}">
    <div class="header clickable" ng-class="getClassColor()" ng-click="editCard(card)">
        <span>{{ card.name }} ({{ card.id }})</span>
    </div>

    <div class="row">
        <div class="col-sm-6 col-xs-12 card_block">
            <label>Priority: </label>
            <span>{{ card.priority | toPriorityText }}</span>
        </div>
        <div class="col-sm-6 col-xs-12 card_block" >
            <label>Assignee: </label>
            <span>{{ card.assignee.first_name }}</span>
        </div>

        <div class="col-xs-12 task" ng-repeat="task in card.tasks">
            {{ task.name }}
        </div>
    </div>
</div>