<div class="col-md-3 col-md-offset-4">
    <h2>Create card</h2>
    <form name="form" ng-submit="vm.createCard()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.name.$dirty && form.name.$error.required }">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control" ng-model="vm.name" required />
            <span ng-show="form.name.$dirty && form.name.$error.required" class="help-block">Card name is required</span>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" id="description" class="form-control" ng-model="vm.description" rows="5" cols="50"></textarea>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.type.$dirty && form.type.$error.required }">
            <label for="type">Card type</label>
            <select selectpicker class="selectpicker" ng-model="vm.type" id="type" required>
                <option value="{{ cardType.id }}" ng-repeat="cardType in vm.cardTypes" data-content="<span class='label label-success'>{{ cardType.name }}</span>">
                </option>
            </select>
            <span ng-show="form.type.$dirty && form.type.$error.required" class="help-block">Type error</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.assignee.$dirty }">
            <label for="assignee">Assignee</label>
            <select class="form-control" ng-model="vm.assignee" id="assignee">
                <option value="{{ user.id }}" ng-repeat="user in vm.users">{{ user.first_name }} {{ user.last_name }}</option>
            </select>
            <span ng-show="form.assignee.$dirty" class="help-block">Type error</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.priority.$dirty && form.priority.$error.required }">
            <label for="priority">Priority</label>
            <select class="form-control" ng-model="vm.priority" id="priority">
                <option value="{{ priority.number }}" ng-repeat="priority in vm.priorities">{{ priority.name }}</option>
            </select>
            <span ng-show="form.priority.$dirty && form.priority.$error.required" class="help-block">Priority is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.deadline.$dirty && form.deadline.$error.required }">
            <label for="deadline">Deadline</label></br>
            <datetimepicker name="deadline" id="deadline"
                            ng-model="vm.deadline"
                            date-format="dd.MM.yyyy"
                            date-options="dateOptions"
                            date-disabled="isDisabledDate(date, mode)"
                            show-meridian="false"
                            show-spinners="true"
                            required>
            </datetimepicker>
            <span ng-show="form.deadline.$dirty && form.deadline.$error.required" class="help-block">Deadline is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.lane.$dirty && form.lane.$error.required }">
            <label for="lane">Lane</label>
            <input type="text" name="lane" id="lane" class="form-control" ng-model="vm.lane" required />
            <span ng-show="form.lane.$dirty && form.lane.$error.required" class="help-block">Lane is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.size.$dirty && form.size.$error.required }">
            <label for="size">Size</label>
            <input type="number" name="size" id="size" class="form-control" step="0.1" min="0" max="100" ng-model="vm.size" required />
            <span ng-show="form.size.$dirty && form.size.$error.required" class="help-block">Size is required</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="vm.dataLoading" class="btn btn-primary">Create</button>
            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
    </form>
</div>